{# @var plugin \mission10\blockstyles\BlockStyles #}
{# @var settings \mission10\blockstyles\models\Settings #}

{% import '_includes/forms.twig' as forms %}

<div class="readable">
    <blockquote class="note warning">
        Set block styles in <code>config/block-styles.php</code>
    </blockquote>
</div>
